<app-navbar></app-navbar>

<body>
    <div class="container">
        <h2 class="title">{{ 'NAVBAR.About' |translate}}</h2>
        <p class="description">
            {{ 'About.p1' |translate}} {{ 'About.p2' |translate}}
        </p>
        <p>
            {{ 'About.p3' |translate}} {{ 'About.p4' |translate}}<br> {{ 'About.p5' |translate}} {{ 'About.p6' |translate}} {{ 'About.p7' |translate}}
        </p>
        <div class="col-md-12">
            <ul>
                <li>Michel Djifack</li>
                <li>Baroper Str.331, 44227 Dortmund</li>
                <li>Tel: +49 (0) 176 4714-8001 </li>
                <li>E-Mail: mdjifack@yahoo.fr</li>
            </ul>
        </div>
    </div>
</body>
<app-footer></app-footer>