body {
    margin-top: 5rem;
    min-height: 30rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

..col {
    background-color: #FA944B;
}

.col-md-12 {
    margin: 10px;
}

.warn {
    color: #FA944B;
    margin: 10px;
}

.head {
    font-size: 1.2rem;
}

.heads {
    margin: 2rem;
}

h3 {
    color: #FA944B;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.btn-block {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
}

.btn-block:hover {
    color: #FA944B;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.invalid-feedback {
    display: block;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}