<div class="container">
    <h3>{{ 'homeForm.title' |translate}}</h3>
    <form #form="ngForm" name="form" (ngSubmit)="getValues()" [formGroup]="opinionForm" class="needs-validation" novalidate>
        <div class="row head">
            <div class="col-12">{{ 'homeForm.instruct1' |translate}} <strong>Positive</strong> {{ 'homeForm.instruct2' |translate}} <strong>"{{ 'homeForm.choice' |translate}} "</strong> {{ 'homeForm.instruct3' |translate}}
                <Strong>Negative</Strong> {{ 'homeForm.instruct4' |translate}} <strong>Neutral</strong>. <br> {{ 'homeForm.example' |translate}}
                <ol>
                    <li>{{ 'homeForm.neg' |translate}} <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <Strong>{{ 'homeForm.Negative' |translate}}</Strong>
                    </li>
                    <li>{{ 'homeForm.neu' |translate}} <i class="fa fa-arrow-right" aria-hidden="true"></i> <strong>{{ 'homeForm.Neutral' |translate}}</strong></li>
                    <li>{{ 'homeForm.pos' |translate}} <i class="fa fa-arrow-right" aria-hidden="true"></i> <strong>{{ 'homeForm.Positive' |translate}}</strong> </li>
                </ol>
                <div class="warn">
                    {{ 'homeForm.warning' |translate}}{{ 'homeForm.warning1' |translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message">{{ 'homeForm.Opinion' |translate}}</label>
                        <textarea id="form_message" formControlName="message" name="message" class="form-control" placeholder="{{ 'homeForm.CategoryPlaceHolder' |translate}}" rows="4">
                        </textarea>
                    </div>
                    <div class="invalid-feedback" *ngIf="f?.message?.errors && form.submitted">
                        {{ 'homeForm.opinionerror' |translate}}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>{{ 'homeForm.Category' |translate}}</label>
                    <select class="form-control" formControlName="sentiment" name="sentiment">
                    <option value="" selected disabled>{{ 'homeForm.default' |translate}}</option>
                    <option>{{ 'homeForm.Negative' |translate}}</option>
                    <option>{{ 'homeForm.Neutral' |translate}}</option>
                    <option>{{ 'homeForm.Positive' |translate}}</option>
                    </select>
                </div>
                <div class="invalid-feedback" *ngIf="f?.sentiment?.errors && form.submitted">
                    {{ 'homeForm.sentimenterror' |translate}}
                </div>
                <div class="warn">
                    {{ 'homeForm.warning' |translate}}{{ 'homeForm.warning1' |translate}}
                </div>
            </div>
            <div class="row">
                <div class="col-"></div>
                <div class="col-"></div>
                <div class="col-sm"></div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" (change)="blink($event)" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                            {{ 'conditions.agb1' |translate}}<a routerLink="/privacy"> {{ 'FOOTER.Privacy'|translate}}</a>
                        </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-start heads">
            <div class="col-">
                <input type="submit" class="btn btn-success btn-send pt-2 btn-block" [disabled]="!checks" value="{{ 'homeForm.btn' |translate}}">
            </div>
        </div>
    </form>
</div>